@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  /*font-family: "Kode Mono", monospace;*/
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.full-height {
  height: 100%!important;
}

main .vel-modal { /* increase opacity of vue-easy-lightbox background */
  background: rgba(0, 0, 0, .9);
}

main .vel-img-title { /* increase text size of vue-easy-lightbox title */
  font-size: 1rem;
  line-height: 1.2;
  bottom: 54px;
}

.grey {
  color: #737373;
}